# DATABASE
DATABASE_URL="postgresql://postgres_user:pg_password@localhost:5432/postgres_db_name?schema=public"

POSTGRES_PASSWORD=pg_password
POSTGRES_USER=postgres_user
POSTGRES_DB=postgres_db_name

# AUTH
JWT_ACCESS_SECRET=SECRET
JWT_REFRESH_SECRET=SECRET